*{margin: 0;
  padding: 0;

}






.header {
  
  /* display: inline; */
  background-color: #4c6db0;
 
  align-content: space-between;
  font-size: 30px;
  color: rgb(59, 27, 27);
  height: 40px;
}



li{
  display: inline;
  /* float: left; */

 
  padding: 1px;

}
li a{
 
  padding: 2px;
  background-color: #ac4f4f;
  text-decoration: none;
 
}

li a:hover{
  background-color: aqua;
}
