*{margin: 0;
  padding: 0;

}

.header {
  
  /* display: inline; */
  background-color: #0a1b40;
 
  align-content: space-between;
  font-size: 30px;
  /* color: rgb(59, 27, 27); */
  height: 40px;
}



li{
  display: inline;
  /* float: left; */

  padding: 5px;

}
li a{
 
  padding: 2px;
  color:aliceblue;
 
  background-color: #123a45;
  text-decoration: none;
 
}

li a:hover{
  background-color: rgb(13, 135, 78);
}
